html,body{
    margin:0rem;
    min-height: 100%;
    overflow-x: hidden;
        
    header .contact{
        display: flex;
        justify-content:space-around ;
        align-items: center;
        border: 0.5rem rgb(27, 185, 247) solid;
        background-color:rgb(27, 185, 247);
        width: 100%;
        min-height:10vh;
        padding-left: 1rem;
       
    
        
    

        .contact-mail{
            flex: 1.5;
            display: flex;
            align-items: center;
            justify-content:flex-start ;
            gap:1.5rem;

            p span{
                font-weight: bold;
            }

             p,span{
                font-size: 1.2rem;
            }

            .ajust {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }   
        }

        .contact-tel{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content:flex-start;
            gap:1rem;

            p span{
                font-weight: bold;
            }
            p,span{
                font-size: 1.2rem;
            }

            .ajust {
                 display: flex;
                 align-items: center;
                 gap: 1rem;

                img{
                  height:1rem ;
                  width:1rem ;
                  color: rgb(0, 0, 1);
                }
            }
            
            

            .align{
                display: flex;
                align-items: center;
                gap: 1rem;

                img{
                    height: auto;
                    max-width: 1rem;

                }
            }
        }

        div span{
            color:white;
        }

  
    }

    @media (max-width:48rem) {
        header .contact {
            flex-direction: column;
            align-items: center;
            gap:1rem;
            min-height: auto;
            margin: 0 auto;
          

            p{
             text-align: center;
           }


           .contact-mail,.contact-tel{
                flex-direction: column;
                justify-content: center;
                gap:1rem;

               
            }

            .contact-tel .align{
                flex-direction: column;
                justify-content: center;
                gap:1rem;
            }

            .contact-mail{
                p,span{
                    white-space: normal;
                  
                   word-break: break-word;
                }
            }
            .contact-tel{
                p,span{
                    white-space: normal;/*pour permettre les retour a la ligne */
                
                    word-break: break-word;
                }
            }
        }
       
    }

    header .introduction{
        min-height: 22rem;
        background-image:url('images/img-intro.jpg') ;


        .navigation{
            border: 0.5rem white solid;
            margin-left: 2rem;
            border-bottom-left-radius: 3rem;
            border-top-left-radius: 3rem;
            min-height: 5rem;
            background-color: white;

            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
                min-height: 5rem;
                padding-left: 3rem;
                padding-right: 3rem;



                img{
                    height: 1rem;
                }

                .nav-lien{
                    display: flex;
                    justify-content: center;
                    gap: 2rem;

                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 1.2rem;
                    }
                }

                .nav-formulaire a{
                    text-decoration: none;
                    color: white;
                    font-size:1.2rem ;
                    border: 0.1rem rgb(4, 4, 104) solid;
                    padding:0.5rem;
                    border-top-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    background-color: rgb(4, 4, 104);
                }
                
            }

           
        }
        .intro-score{
            margin-right: 2rem;
            .score{
                text-align: center;

                h1,p{
                    color: white;
                }

                h1{
                    font-size: 4rem;
                }

                p{
                    font-size: 3rem;
                }
            }

            .intro img{
                width: 22rem;
                height: 18rem;
                border-radius: 1rem;
            }

        }
        

        
    }

    @media (max-width:48rem) {
        .introduction {
            height: unset;
             
           .navigation  nav{
                flex-direction: column;
                align-items: center;
                height: unset;
                width: 80%;
                margin: 0 auto;


                .nav-lien{
                    flex-direction: column;
                    align-items: center;
                }

            }

        }
        .introduction .navigation{
            height: unset;
            min-height: unset;
            width: 90%;
            margin: 0 auto;
        }
            
       
                
    }

    main {

        .presentation{
           display: flex;
           justify-content: center;
           align-items: flex-start;/*c'est pour que les 
           deux divent comment au mm niveau */
           height: 30rem;
           max-width: 50rem;
           margin:0 auto;
           gap: 2rem;
            padding: 4rem;


           .presentation1{
              display: flex;
              flex: 1;
              flex-direction: column;
              align-items: center;
              text-align: center;
              height: auto;

              img{
                width: 100%;
                height: 15rem;
                border-radius: 1rem;
              } 
              p{
                width: 100%;
                font-size: 1rem;
                text-align: justify;
              }


            }
            .presentation2{
                display: flex;
                flex:1;
                flex-direction: column;
                justify-content:end;
                height: auto;

                p{
                    max-width: 60rem;
                    font-size: 1rem;
                    line-height: 1rem; 
                }

                h3,h2{
                    color: rgb(69, 134, 224);
                }

                 .cercle{
                    border: 0.5rem rgba(1, 2, 31, 0.776) solid;
                    border-radius: 50%;
                    height: 8rem;
                    width: 8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                
            }
        }
        .nos-services{
            border: aliceblue 0.5rem solid;
            text-align: center;
            padding: 4rem;
            margin: 2rem 0;
            background-color: aliceblue;

            .underline,.size{
                font-size: 2rem;
            }
            .underline{
                text-decoration: underline;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }


            .service-blog{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                


                div{
                    border: 0.1rem white solid;
                    width: 12rem;
                    height: 18rem;
                    display: flex;
                    flex-direction: column;
                    border-radius: 1rem;
                   padding: 1rem;
                   position: relative;
                   background-color: white;
                



                    img {
                        width: 100%;
                        max-height: 50%;
                        object-fit: cover;
                        border-radius: 1rem;
                        margin-top: -2rem;
                        margin-bottom:2rem ;

                    }

                    div p {
                        margin: 0;
                        text-align: center;
                    }
                

                    h2{
                        font-weight: 700;
                        margin: 0;
                        color:rgb(3, 3, 35);
                        text-align: center;
                        
                    }


                }


               


              
            }
        }
        .start-up{
            background-image: url(images/nvl.jpg) ;
            background-repeat: no-repeat;
            background-size: 79rem 90rem;
            height: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            

            .presentation12{

                display: flex;
                flex-direction: column;
                align-items: center;
                border: solid black 0.2rem;
                background-color: rgba(255, 255, 255, 0.393);
                border-top-left-radius: 2rem;
                border-bottom-right-radius: 2rem;


                h2{
                    text-decoration: underline;
                }
            }
            .schema{
                height: 30rem;
                background-color: rgba(100, 148, 237, 0.285);
                width: 60rem;
                margin-left: 8rem;
                margin-right:8rem ;
                display: flex;
                align-items: center;
                gap: rem;
                border-radius: 2rem;

                .appli{
                    margin-top: -15rem;
                    display: flex;
                    flex-direction: column;
                    align-items:center;

                    h2{
                        text-decoration: underline;
                        color: rgb(1, 1, 7);
                    }
                    p{
                        font-size: 2rem;
                        font-weight: bold;
                        color: rgba(0, 3, 7, 0.598);
                    }
                }

               
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    width: 30rem;
                    align-items: center;
                    justify-content: center;
                    border: solid rgb(3, 2, 36) 0.1rem ;
                    border-radius:2rem ;
                    padding: 1rem;
                    background-color: rgba(86, 87, 85, 0.358);

                    input,textarea{
                        width: 100%;
                        height: 3rem;
                        border: solid blue 0.1rem;
                        border-radius: 2rem;
                    } 
                    button{
                        width: 7rem;
                        height: 3rem;
                        border: solid blue 0.1rem;
                        border-radius: 2rem;
                        background-color: rgba(0, 128, 0, 0.466);
                    }
                }
              
            }
           
        }
       .contact12{
            display:flex;
            justify-content: center;
            border: solid black 0.2rem;
            align-items: center;
            gap: 2rem;


        

        }  
}
}