html,body{

    header .contact{
        display: flex;
        justify-content:space-around ;
        align-items: center;
        border: 0.5rem rgb(27, 185, 247) bold;
        background-color:rgb(27, 185, 247);
    

        .contact-mail{
            display: flex;
            align-items: center;
            justify-content:space-between ;
            gap:1rem;
        }

        .contact-tel{
            display: flex;
            align-items: center;
            justify-content:space-between ;
            gap:1rem;
        }

        div span{
            color:white;
        }
    }
}